<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Perfil - '}) %>
<body class="background_Leaves">
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
   
    <main class="perfil-usuario">
        <div class="menu-desplegable">
            <input type="checkbox" name="" id="btn-menu">
            <label for="btn-menu" class="label-perfil"><i class="fas fa-bars" style="margin-right: 15px;"></i>Mi Cuenta</label>
            
            <nav class="menu-usuario">
              <ul>
                <li>
                  <a href="/perfil/<%= session.user.id %>"><i class="icons_Slider_Menu fa fa-user" aria-hidden="true"></i>Ver Perfil</a>
                </li>
                <li>
                  <a href="/mis-compras"><i class="icons_Slider_Menu fa fa-shopping-bag"></i>Mis Compras</a>
                </li>
                <li>
                  <a href="/favoritos"><i class="icons_Slider_Menu fa fa-heart"></i>Mis favoritos</a>
                </li>
                <li>
                  <a href="/historial"><i class="icons_Slider_Menu fa fa-history"></i>Mi Historial</a>
                </li>
                <li>
                  <a href="/editar-perfil"><i class="icons_Slider_Menu fas fa-cog" aria-hidden="true"></i>Editar Mi Perfil</a>
                </li>
              </ul>
          </nav>
        </div>

        <div class="main-conteiner-pefil">
          <img class="profilePicP" src="/images/users/<%=users.image %>" alt="<%=users.image %>">
          <h2>Mis Datos</h3><!-- primer encabezado que se ve en la vista -->

          <div class="subtitulo-mis-datos">
              Datos de cuenta
          </div>

          <div class="info">
            <div class="contenedor-flex">
              <div class="indicador">
                <span>Usuario: </span>
              </div>
              <div class="indicador-value">
                <span><%= users.name %> </span>
              </div>
            </div>
            <div class="info">
              <div class="contenedor-flex">
                <div class="indicador">
                  <span>E-mail: </span>
                </div>
                <div class="indicador-value">
                  <span><%= users.email %></span>
                </div>
              </div>
              <div class="subtitulo-mis-datos">
                Datos personales
              </div>
          <div class="info">
            <div class="contenedor-flex">
              <div class="indicador">
                <span>Nombre:</span>
              </div>
              <div class="indicador-value">
                <span><%= users.name %> <%= users.surname %><!-- Aca iría el nombre de la cuenta --></span>
              </div>
            </div>
            
          <div class="info">
            <div class="contenedor-flex">
              <div class="indicador">
                <span>Documento:</span>
              </div>
              <div class="indicador-value">
                <span><%= users.dni ? toDNI(users.dni) : "--.---.---" %></span>
              </div>
            </div>
            <div class="info">
              <div class="contenedor-flex">
                <div class="indicador">
                  <span>Telefono:</span>
                </div>
                <div class="indicador-value">
                  <span><%= users.phone ? users.phone : "-- ---- ----" %></span>
                </div>
              </div>
            </div>
            
            <div class="subtitulo-mis-datos">
              Domicilio
            </div>

            <div class="tarjetas-contenedoras">
              <div class="datos-tarjetas">
                <p><%= users.address ? users.address : "Direccion" %> </p>
                <p class="info-tarjeta"><%= users.province  %> , <%= users.city %> </p>
               </div>
            </div>

          </div>



        </div>
       


    </main>

    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>