<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Agregar Producto - '}) %>
<head>
    <script src="/javascripts/previewImage_Admin.js" defer></script>
    <script src="/javascripts/admin.js" defer></script>
</head>
<body>
  <div class="container_Page">
    <%- include('../partials/adminHeader.ejs') %>
    <main class="admin">
        <section class="adminContainer">
            <%- include('../partials/adminSidePanel.ejs') %>
            <form action="/admin/agregar-producto/" method="POST" class="admin_Grid AdminContent" enctype="multipart/form-data">
                
                <div class="contenedor">
                    <div class="grid_add_title">
                        <p>Agregar Producto</p>
                    </div>

                    <div class="seleccionar">

                        <div class="col1AP">
                            <div class="addInputBox">
                                <label for="name">Nombre del Producto</label>
                                <input type="text" name="name" id="name" placeholder="Nombre del Producto" class="input-select">
                                <% if (locals.errors && errors.name) { %>
                                    <small class="error-message"><%= errors.name.msg %> </small>
                                <% } %>
                            </div>
    
                            <div class="addInputBox">
                                <label for="price">Precio</label>
                                <input type="number" required placeholder="Ingrese el Precio" name="price" id="price" class="input-select" >
                                <% if (locals.errors && errors.price) { %>
                                    <small class="error-message"><%= errors.price.msg %> </small>
                                <% } %>
                            </div>
                        </div>

                        <div class="col2AP">
                            <div class="addInputBox">
                                <label for="inputCategoryProduct">Categoria</label>
                                <select name="product_Category" id="inputCategoryProduct" class="input-select">
                                    <% categoriesData.forEach(catg => { %>
                                        <option value="<%= catg.id %>"><%= catg.category_Name %></option>
                                    <% }) %>
                                </select>
                                <% if (locals.errors && errors.product_Category) { %>
                                    <small class="error-message"><%= errors.product_Category.msg %> </small>
                                <% } %>
                            </div>
                            
                            <div class="addInputBox">
                                <label for="inputSubCategoryProduct">Subcategoria</label>
                                <select name="product_Subcategory" id="inputSubCategoryProduct" class="input-select">
                                    <% subCategoriesData.forEach(scatg => { %>
                                        <option value="<%= scatg.id %>"><%= scatg.subcategory_Name %></option>
                                    <% }) %>
                                </select>
                                <% if (locals.errors && errors.product_Subcategory) { %>
                                    <small class="error-message"><%= errors.product_Subcategory.msg %> </small>
                                <% } %>
                            </div>
                        </div>

                        <div class="col3AP">
                            <div class="addInputBox">
                                <label for="inputColorProduct">Color</label>
                                <select name="color" id="inputColorProduct" class="input-select">
                                    <option value="Blanco">Blanco</option>
                                    <option value="Negro">Negro</option>
                                    <option value="Gris">Gris</option>
                                    <option value="Rojo">Rojo</option>
                                    <option value="Azul">Azul</option>
                                    <option value="Amarillo">Amarillo</option>
                                    <option value="Rosa">Rosa</option>
                                    <option value="Verde">Verde</option>
                                    <option value="Naranja">Naranja</option>
                                    <option value="Marron">Marron</option>
                                    <option value="RGB">RGB</option>
                                </select>
                            </div>
                            
                            <div class="addInputBox">
                                <label for="inputStockProduct">Stock</label>
                                <input class="input-select" type="number" name="stock" id="inputStockProduct">
                            </div>
                        </div>
                        
                    </div>
                
                </div>
    
                <section class="infoProductAdmin">
                    <div class="descripcion-producto">
                        <label style="text-align: left; display: flex;" for="mensaje">Descripcion del Producto</label>
                        <textarea name="description" placeholder="Describa el Producto" id="mensaje" cols="30" rows="10" ></textarea>
                    </div>
                </section>
    
                <section class="agregar-imagen">
                    <label class="buttonToAddImage addPicsAdm">
                        <input style="display: none;" type="file" id="examinar" name="image_Route" accept=".jpg, .png, .webp, .jpeg, .bmp">
                        <p><i class="fa fa-upload" aria-hidden="true"></i>Subir Fotos</p>
                    </label>
                    <% if (locals.errors && errors.image_Route) { %>
                        <small class="error-message"><%= errors.image_Route.msg %> </small>
                    <% } %>
                </section>
    
                <section class="imagePreviewSection">
                    <div id="imagePreview">
                        
                    </div>
                    <p id="errorImage"></p>
                </section>
                <button type="submit" class="finalizar">Guardar Producto</button>
            </form>
        </section>        
    </main>
  </div>
</body>
</html>